<div class='page-wrapper'>
  <h1><%= @user.username %>'s profile</h1>
	Located in: <%= @user.city %>, <%= @user.state %>





  <div >
  	<h1><p>

  	</p><p>


  	</p></h1>
    <h2>Game Collection</h2>

    <% @user.games.each do |game| %>
      <span class='headline'><a href="/games/<%= game.id %>"><%= game.name %></a></span><br><br>


    <% end %>
  </div>

</div>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div>
  <% if @user != User.find_by(id: 1) %>
    <h1><%= @user.username %>'s profile</h1>
  <% else %>
    <h1>My profile</h1>
  <% end %>

  <% if @user != User.find_by(id: 1) %>
    <%= link_to "Add Friend", friendships_path(user_id: 1, friend_id: @user.id), method: :post %>
  <% end %>
</div>

<div>
  <h1>Friend's List</h1>
    <ul>
      <% @user.friends.each do |friend| %>
        <li><%= friend.username %></li>
      <% end %>
    </ul>
</div>

<div>
  <% if @user == User.find_by(id: 2) %>
  <h2>Pending Friend Requests</h2>
  <ul>
      <% @user.requests.each do |request| %>
      <li>
        <%= request.user.username %> wants to be friends!
        <%= link_to 'Accept', friendship_path(id: request.id), method: "put" %>
        <%= link_to 'Decline', friendship_path(id: request.id), method: "delete" %>
      </li>
      <% end %>
  </ul>
  <% end %>
</div>
