<%= form_for @comment do |f| %>
  <p>
    <%= f.label :game_comment_form, "Comment on this Game:" %><br>
    <%= f.text_field :body %>
    <%= f.hidden_field :commentable_id, :value => target.id %>
    <%= f.hidden_field :commentable_type, :value => target.class %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

