<div class='page-wrapper'>

  <div class="dropdown">
    <button class="dropbtn"><strong>View by Tag</strong></button>
    <div class="dropdown-content">
       <% @tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag.id) %>
      <% end %>
    </div>
  </div>

    <span class='featured'>Featured Game of the Moment:</span>
    <span class='featured-title'><a href="/games/<%= @featured_underdog.id %>"><%= @featured_underdog.name %><img src=<%= @featured_underdog.image_link %> style="width:12%;height:12%;"></a></span>
  </div>
  <div class='section'>
  <h2>Most Popular Games</h2>
    <% sorted_games = @games.sort_by {|game| game.number_of_owners}.reverse %>
    <% sorted_games.each do |game| %>
      <a href="/games/<%= game.id %>" class='headline'>
      <img src=<%= game.image_link%> style="width:10%;height:10%;">
      <%= game.name %></a><span class='owners-head'>&nbsp; &nbsp;<%= game.number_of_owners %> owners</span><br>

      <div class='detail'>
        <div>
          Top Owners:
          <% game.owners[0..2].each do |owner| %>
          <span class='detail'><a href="/users/<%= owner.id %>"><%= owner.username %></a>   </span>
          <% end %>
        </div>
      </div>
      </p>
    <% end %>
  </div>


  <div class='section'>
    <h2>Largest Collections</h2>
    <% top_collections = @user.sort_by {|user| user.games.count}.reverse %>
    <% top_collections.each do |user| %>
      <span class='detail'><a href="/users/<%= user.id %>"><%= user.username %></a> &nbsp;— <%= user.games.count %> games</span><br>
    <% end %>
  </div>
</div>
