<h2><%= @game.name %></h2>
Players: <%= @game.number_of_players %> players <br>
Duration: <%= @game.playtime %> minutes <br>
<p>
<%= @game.description %>
<p>

<br>
<% if user_signed_in? %>
  <%= render 'games/form', :target => @game %>
<% end %>

<% if @game.comments %>
<ul>
  <!-- will need conversion of time zone for stringified time -->
  <% @game.comments.each do |comment| %>
    <li><%= comment.body %> - <%= comment.user.username %> -  <%= comment.created_at.strftime("%l:%M %p - %e, %b %Y") %></li>
  <% end %>
</ul>
<% end %>
