<span class='game-show-headline'><b><%= @game.name %></b> - <%= @game.likes %> likes</span>
<% if @game.tags.any? %>
  <% @game.tags.each do |tag| %>
    <span class='tag'><%= tag.name %></span>
  <% end %>
<% end %>
<br>

<% if !user_signed_in? %>
  <p>Please sign in to add this game to your collection</p>
<% elsif !current_user.games.include?(@game) && user_signed_in? %>
  <p>Own this Game?</p>
  <p><%= link_to 'Add it to your collection', ownerships_path(game_id: @game.id), method: :post %></p><br><br>
<% elsif current_user.games.include?(@game) %>
  <p>You already own <%= @game.name %></p><br><br>
<% end %>

<% if @friends_with_game %>
  <ul>
  <% @friends_with_game.each do |friend| %>
    <li><a href="/users/<%= friend.id %>"><%= friend.username %></a> owns <%= @game.name %></li>
  <% end %>
  </ul>
<% end %>
<p></p>

Players: <%= @game.number_of_players %> players <br>
Duration: <%= @game.playtime %> minutes <br>

<p><%= @game.description %></p>

<br>

<% if user_signed_in? %>
  <%= link_to 'Like this Game', votes_path(votable_id: @game.id, votable_type: @game.class), method: :post  %>
<% else %>
  <p>Please log in to like or comment on this game</p>
<% end %>

<% if @game.comments %>
<ul>
  <!-- will need conversion of time zone for stringified time -->
  <%= render 'comments/list_comments', :comments => @game.comments %>
</ul>
<% end %>

<% if user_signed_in? %>
  <%= render 'games/form', :target => @game %>
<% end %>
