<h2><%= @game.name %></h2>
Players: <%= @game.number_of_players %> players <br>
Duration: <%= @game.playtime %> minutes <br>
<p>
<%= @game.description %>
<p>

<%= render 'games/form', :target => @game %>

<% if @game.comments %>
<ul>
  <% @game.comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>
<% end %>