<span class='headline'><%= @game.name %></span><br>
<% if @game.tags.any? %>
	<% @game.tags.each do |tag| %>
		<span class='tag'><%= tag.name %></span>
	<% end %>
<% end %>
<p></p>
Players: <%= @game.number_of_players %> players <br>
Duration: <%= @game.playtime %> minutes <br>
<p>
<%= @game.description %>
<p>

<%= render 'games/form', :target => @game %>

<% if @game.comments %>
<ul>
  <% @game.comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>
<% end %>